
html,
body,
#root {
	height: 100%;
	padding: 0;
	margin: 0;
}

#root {
  background-color: rgb(60, 60, 60);
  background-size: 50px 50px;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
}

.panel {
  float: right;
  height: 100%;
  width: 350px;
  padding: 25px;
  background-color: white;
}

.point {
  background: red;
  line-height: 20px;
  border: 1px solid gray;
  font-weight: bold;
  border-radius: 50%;  
  width: 24px;
  height: 24px;
  float: left;
  cursor: move;
  color: white;
  text-align: center;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    background-color: red;
  }
  50% {
    background-color: orange;
    color: gray;
  }
  100% {
    background-color: yellow;
    color: black;
  }
}

.selected {
  background: #999;
  animation-play-state: paused;
}

.container {
  height: 100%;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px !important;
  padding: 0px !important;
}
