
html,
body,
#root {
	height: 100%;
	padding: 0;
	margin: 0;
}

.editor {
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: rgb(60, 60, 60);
  background-size: 50px 50px;
  background-image: linear-gradient(0deg, 
                                    transparent 24%, 
                                    rgba(255, 255, 255, 0.05) 25%, 
                                    rgba(255, 255, 255, 0.05) 26%, 
                                    transparent 27%, transparent 74%, 
                                    rgba(255, 255, 255, 0.05) 75%, 
                                    rgba(255, 255, 255, 0.05) 76%, 
                                    transparent 77%, transparent), 
                    linear-gradient(90deg, 
                                    transparent 24%, 
                                    rgba(255, 255, 255, 0.05) 25%, 
                                    rgba(255, 255, 255, 0.05) 26%,
                                    transparent 27%, transparent 74%,
                                    rgba(255, 255, 255, 0.05) 75%, 
                                    rgba(255, 255, 255, 0.05) 76%,
                                    transparent 77%, transparent);
}

.panel {
  padding: 15px;
  background-color: rgb(60, 60, 60);
  border: gray solid 1px;
  color: white;
}

.panel a{
  color: white;
}

.point {
  background: red;
  line-height: 20px;
  border: 1px solid gray;
  font-weight: bold;
  border-radius: 50%;  
  width: 24px;
  height: 24px;
  float: left;
  cursor: move;
  color: white;
  text-align: center;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

.point.view {
  cursor: pointer;
}

@keyframes stretch {
  0% {
    background-color: red;
  }
  50% {
    background-color: orange;
    color: gray;
  }
  100% {
    background-color: yellow;
    color: black;
  }
}

.selected {
  background: #999;
  animation-play-state: paused;
}

#container {
  height: 100%;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px !important;
  padding: 0px !important;
}

#container-view {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 120px auto !important;
  padding: 0px !important;
}

.custom-ui {
  text-align: center;
  width: 500px;
  padding: 40px;
  background: #28bae6;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
  color: #fff;
}

.custom-ui > h1 {
  margin-top: 0;
}

.custom-ui > button {
  width: 160px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  cursor: pointer;
  background: none;
  color: #fff;
  font-size: 14px;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}